Order Allow,Deny
Allow from all
Satisfy any

RewriteEngine On

RewriteBase /sova/skin

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

RewriteCond %{QUERY_STRING} !L
RewriteRule ^.+?/(.+)$ default/$1?L
